$primary: #29a869;
$error: #e91515;

$colours: (

    'white': #fefefe,
    'black': #222,

    'grey': #ccc,
    'grey-light': #f4f4f4,
    'grey-dark': #aaa,

    'primary': $primary,
    'primary-light': lighten($primary, 10%),
    'primary-dark': darken($primary, 10%),

    'error': $error,
    'error-light': lighten($error, 10%),
    'error-dark': darken($error, 10%),
);

@function COLOUR($colour) {
    @return map-get($colours, $colour);
}
